In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('country.csv')

In [5]:
df

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...,...
162,Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
163,Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
164,Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
165,Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
166,Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [6]:
df=pd.get_dummies(df)

In [7]:
df

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp,country_Afghanistan,...,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan,country_Vanuatu,country_Venezuela,country_Vietnam,country_Yemen,country_Zambia
0,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553,True,...,False,False,False,False,False,False,False,False,False,False
1,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090,False,...,False,False,False,False,False,False,False,False,False,False
2,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460,False,...,False,False,False,False,False,False,False,False,False,False
3,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530,False,...,False,False,False,False,False,False,False,False,False,False
4,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970,False,...,False,False,False,False,False,True,False,False,False,False
163,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500,False,...,False,False,False,False,False,False,True,False,False,False
164,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310,False,...,False,False,False,False,False,False,False,True,False,False
165,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310,False,...,False,False,False,False,False,False,False,False,True,False
166,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460,False,...,False,False,False,False,False,False,False,False,False,True

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler=StandardScaler()

In [10]:
X=pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

In [11]:
X

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp,country_Afghanistan,...,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan,country_Vanuatu,country_Venezuela,country_Vietnam,country_Yemen,country_Zambia
0,1.291532,-1.138280,0.279088,-0.082455,-0.808245,0.157336,-1.619092,1.902882,-0.679180,12.884099,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615
1,-0.538949,-0.479658,-0.097016,0.070837,-0.375369,-0.312347,0.647866,-0.859973,-0.485623,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615
2,-0.272833,-0.099122,-0.966073,-0.641762,-0.220844,0.789274,0.670423,-0.038404,-0.465376,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615
3,2.007808,0.775381,-1.448071,-0.165315,-0.585043,1.387054,-1.179234,2.128151,-0.516268,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615
4,-0.695634,0.160668,-0.286894,0.497568,0.101732,-0.601749,0.704258,-0.541946,-0.041817,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,-0.225578,0.200917,-0.571711,0.240700,-0.738527,-0.489784,-0.852161,0.365754,-0.546913,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,12.884099,-0.077615,-0.077615,-0.077615,-0.077615
163,-0.526514,-0.461363,-0.695862,-1.213499,-0.033542,3.616865,0.546361,-0.316678,0.029323,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,12.884099,-0.077615,-0.077615,-0.077615
164,-0.372315,1.130305,0.008877,1.380030,-0.658404,0.409732,0.286958,-0.661206,-0.637754,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,12.884099,-0.077615,-0.077615
165,0.448417,-0.406478,-0.597272,-0.517472,-0.658924,1.500916,-0.344633,1.140944,-0.637754,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,12.884099,-0.077615
166,1.114951,-0.150348,-0.338015,-0.662477,-0.721358,0.590015,-2.092785,1.624609,-0.629546,-0.077615,...,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,-0.077615,12.884099

In [12]:
from sklearn.cluster import AgglomerativeClustering

In [31]:
mymodel=AgglomerativeClustering(n_clusters=None,distance_threshold=11.309982532964012)

In [32]:
mymodel.fit(X)

AgglomerativeClustering(distance_threshold=11.309982532964012, n_clusters=None)

In [33]:
cluster=mymodel.fit_predict(X)

In [34]:
cluster

array([118, 160, 100, 141, 140, 155, 156, 130, 150,  92, 104,  95, 146,
       148, 106, 136, 126, 135, 108, 129, 157, 109,  89, 147, 164, 113,
       123, 144, 124, 158, 145,  85, 131, 101, 139, 137, 110,  97, 117,
        86, 127, 166, 134, 154, 112, 142, 120, 111,  83, 163,  93, 153,
        87, 159, 133, 105,  77, 119, 149, 102, 162, 128, 161,  91,  59,
        70,  63, 151, 122,  79, 107, 132,  66,  64,  69, 165, 143,  88,
        72, 138, 125,  90,  78, 115,  99,  44,  94,  73,  55, 114,  43,
        71,  68,  38,  74,  96,  58,  84, 103,  54,  80,  62,  51,  45,
        52,  56,  67, 121,  35, 116, 152,  81,  98,  47,  31,  61,  39,
        65,  75,  48,  27,  30,  53,  60,  57,  36,  46,  29,  76,  82,
        40,  37,  34,  49,  50,  42,  24,  32,  23,  26,  25,  19,  11,
        15,  21,  41,  18,  22,  12,  10,  28,  33,  14,  17,  16,  13,
         7,   5,   8,  20,   3,   9,   6,   4,   1,   2,   0], dtype=int64)

In [17]:
mymodel.children_

array([[ 41, 121],
       [ 75, 139],
       [ 24,  85],
       [111, 158],
       [ 60, 122],
       [100, 169],
       [  1,  48],
       [ 53, 144],
       [ 29,  54],
       [ 20, 130],
       [  6,  76],
       [ 56, 129],
       [ 43, 135],
       [ 51,  90],
       [118, 152],
       [ 67, 134],
       [  8,  58],
       [ 94, 166],
       [ 13, 167],
       [ 23,  82],
       [ 12,  69],
       [ 30, 141],
       [ 27,  52],
       [153, 160],
       [ 65,  83],
       [ 45,  62],
       [  4,  86],
       [ 34, 119],
       [ 92, 172],
       [ 35, 190],
       [ 15, 110],
       [ 17,  28],
       [ 42, 138],
       [168, 170],
       [ 71, 125],
       [ 32,  97],
       [  7,  77],
       [ 19, 120],
       [ 61, 173],
       [ 40, 106],
       [ 16, 181],
       [ 80,  93],
       [115, 128],
       [162, 189],
       [ 68, 174],
       [127, 151],
       [ 46, 192],
       [ 57, 176],
       [  0, 155],
       [ 96, 117],
       [109, 161],
       [124, 205],
       [105, 188],
       [ 25,  64],
       [ 44, 183],
       [ 47, 204],
       [ 36, 178],
       [ 21, 108],
       [ 18, 191],
       [ 70, 140],
       [ 14, 156],
       [104, 214],
       [ 10, 185],
       [180, 182],
       [ 59,  84],
       [ 33, 196],
       [  2,  79],
       [142, 165],
       [193, 195],
       [112, 202],
       [ 95, 148],
       [ 11,  89],
       [147, 184],
       [ 50, 116],
       [  9, 143],
       [ 63, 206],
       [ 81,  88],
       [ 22, 232],
       [177, 219],
       [171, 200],
       [ 39, 228],
       [208, 223],
       [215, 220],
       [211, 221],
       [187, 222],
       [164, 216],
       [209, 238],
       [226, 233],
       [146, 231],
       [  5, 201],
       [218, 245],
       [175, 203],
       [179, 230],
       [194, 213],
       [ 78, 207],
       [217, 251],
       [  3,  99],
       [ 74, 246],
       [210, 225],
       [239, 242],
       [ 72, 234],
       [137, 224],
       [ 73, 197],
       [114, 145],
       [101, 243],
       [ 26, 249],
       [107, 240],
       [237, 252],
       [ 38, 263],
       [150, 198],
       [199, 229],
       [248, 276],
       [227, 241],
       [157, 186],
       [ 55, 154],
       [102, 247],
       [136, 265],
       [244, 260],
       [ 37, 266],
       [258, 264],
       [126, 272],
       [103, 163],
       [149, 267],
       [235, 261],
       [ 31, 236],
       [254, 256],
       [ 49, 275],
       [212, 257],
       [255, 262],
       [131, 274],
       [ 87, 271],
       [279, 290],
       [132, 287],
       [259, 296],
       [281, 295],
       [250, 286],
       [285, 291],
       [294, 298],
       [273, 301],
       [268, 283],
       [253, 280],
       [ 98, 133],
       [278, 303],
       [284, 292],
       [269, 270],
       [277, 282],
       [159, 302],
       [288, 289],
       [299, 309],
       [ 91, 308],
       [304, 312],
       [ 66, 315],
       [123, 307],
       [293, 314],
       [311, 313],
       [297, 306],
       [305, 310],
       [300, 317],
       [320, 323],
       [322, 324],
       [319, 321],
       [113, 325],
       [326, 328],
       [316, 327],
       [318, 329],
       [330, 331]], dtype=int64)

In [18]:
from scipy.cluster import hierarchy

In [19]:
d=hierarchy.linkage(mymodel.children_)

In [20]:
d

array([[ 10.        ,  36.        ,   1.41421356,   2.        ],
       [136.        , 143.        ,   1.41421356,   2.        ],
       [150.        , 156.        ,   2.23606798,   2.        ],
       [158.        , 160.        ,   2.23606798,   2.        ],
       [159.        , 169.        ,   2.23606798,   3.        ],
       [  8.        ,  22.        ,   2.82842712,   2.        ],
       [ 81.        ,  98.        ,   2.82842712,   2.        ],
       [163.        , 164.        ,   2.82842712,   2.        ],
       [ 12.        ,  32.        ,   3.16227766,   2.        ],
       [  2.        ,  19.        ,   3.16227766,   2.        ],
       [108.        , 118.        ,   3.16227766,   2.        ],
       [  3.        ,  50.        ,   3.60555128,   2.        ],
       [ 83.        , 172.        ,   3.60555128,   3.        ],
       [119.        , 128.        ,   3.60555128,   2.        ],
       [147.        , 167.        ,   3.60555128,   3.        ],
       [148.        , 155.        ,   3.60555128,   2.        ],
       [ 82.        , 178.        ,   4.12310563,   4.        ],
       [104.        , 115.        ,   4.12310563,   2.        ],
       [134.        , 180.        ,   4.24264069,   4.        ],
       [ 66.        , 166.        ,   5.        ,   3.        ],
       [ 38.        ,  47.        ,   5.        ,   2.        ],
       [162.        , 165.        ,   5.        ,   2.        ],
       [ 79.        ,  91.        ,   5.        ,   2.        ],
       [  1.        ,  59.        ,   5.09901951,   2.        ],
       [ 41.        ,  76.        ,   5.09901951,   2.        ],
       [131.        , 184.        ,   5.38516481,   5.        ],
       [138.        , 142.        ,   5.38516481,   2.        ],
       [120.        , 129.        ,   5.38516481,   2.        ],
       [170.        , 187.        ,   5.65685425,   5.        ],
       [173.        , 194.        ,   5.65685425,   7.        ],
       [168.        , 181.        ,   5.83095189,   4.        ],
       [ 43.        , 113.        ,   5.83095189,   2.        ],
       [ 24.        ,  64.        ,   6.08276253,   2.        ],
       [ 90.        ,  95.        ,   6.08276253,   2.        ],
       [125.        , 179.        ,   6.08276253,   3.        ],
       [ 30.        ,  57.        ,   6.32455532,   2.        ],
       [ 29.        ,  65.        ,   6.32455532,   2.        ],
       [121.        , 177.        ,   6.32455532,   3.        ],
       [ 17.        ,  28.        ,   6.32455532,   2.        ],
       [157.        , 196.        ,   6.40312424,   5.        ],
       [111.        , 140.        ,   6.40312424,   2.        ],
       [ 15.        , 189.        ,   6.70820393,   3.        ],
       [  5.        , 203.        ,   6.70820393,   4.        ],
       [204.        , 208.        ,   6.70820393,   6.        ],
       [154.        , 205.        ,   6.70820393,   6.        ],
       [135.        , 206.        ,   6.70820393,   3.        ],
       [106.        , 183.        ,   6.70820393,   3.        ],
       [ 44.        , 186.        ,   7.07106781,   3.        ],
       [ 40.        ,  62.        ,   7.21110255,   2.        ],
       [  0.        ,  27.        ,   7.28010989,   2.        ],
       [ 26.        , 185.        ,   7.28010989,   4.        ],
       [ 71.        , 216.        ,   7.61577311,   5.        ],
       [153.        , 210.        ,   7.61577311,   7.        ],
       [127.        , 199.        ,   7.81024968,   3.        ],
       [  4.        ,  11.        ,   8.06225775,   2.        ],
       [ 14.        , 103.        ,   8.06225775,   2.        ],
       [ 87.        , 112.        ,   8.06225775,   2.        ],
       [145.        , 191.        ,   8.24621125,   6.        ],
       [192.        , 223.        ,   8.54400375,   8.        ],
       [137.        , 218.        ,   8.54400375,   8.        ],
       [ 45.        , 221.        ,   9.05538514,   3.        ],
       [117.        , 123.        ,   9.05538514,   2.        ],
       [139.        , 224.        ,   9.05538514,   9.        ],
       [ 20.        , 217.        ,   9.21954446,   6.        ],
       [ 46.        ,  54.        ,   9.21954446,   2.        ],
       [209.        , 226.        ,   9.21954446,   9.        ],
       [107.        , 227.        ,   9.21954446,   3.        ],
       [ 56.        , 230.        ,   9.43398113,   3.        ],
       [ 34.        , 207.        ,   9.8488578 ,   4.        ],
       [219.        , 222.        ,   9.8488578 ,   5.        ],
       [ 77.        , 124.        ,   9.8488578 ,   2.        ],
       [ 58.        , 214.        ,  10.        ,   3.        ],
       [ 13.        , 198.        ,  10.        ,   3.        ],
       [  9.        ,  37.        ,  10.04987562,   2.        ],
       [  7.        , 114.        ,  10.19803903,   2.        ],
       [ 99.        , 232.        ,  10.19803903,   4.        ],
       [ 72.        , 197.        ,  10.19803903,   3.        ],
       [ 73.        , 215.        ,  10.29563014,   3.        ],
       [116.        , 193.        ,  10.29563014,   3.        ],
       [ 78.        ,  84.        ,  10.44030651,   2.        ],
       [ 53.        , 171.        ,  10.77032961,   3.        ],
       [201.        , 239.        ,  10.77032961,   4.        ],
       [200.        , 241.        ,  10.77032961,   7.        ],
       [110.        , 182.        ,  10.81665383,   5.        ],
       [225.        , 228.        ,  10.81665383,  17.        ],
       [ 18.        ,  60.        ,  11.04536102,   2.        ],
       [202.        , 233.        ,  11.18033989,   5.        ],
       [ 94.        , 102.        ,  11.18033989,   2.        ],
       [ 92.        , 245.        ,  11.18033989,   3.        ],
       [195.        , 250.        ,  11.3137085 ,  24.        ],
       [ 80.        , 236.        ,  11.3137085 ,   3.        ],
       [220.        , 234.        ,  11.40175425,   6.        ],
       [ 93.        , 254.        ,  11.40175425,   4.        ],
       [ 86.        , 235.        ,  11.40175425,   6.        ],
       [ 88.        , 101.        ,  11.40175425,   2.        ],
       [243.        , 257.        ,  11.66190379,   9.        ],
       [ 16.        , 229.        ,  11.70469991,   7.        ],
       [ 35.        ,  39.        ,  12.04159458,   2.        ],
       [ 55.        , 252.        ,  12.04159458,   6.        ],
       [248.        , 259.        ,  12.04159458,  13.        ],
       [ 23.        ,  67.        ,  12.08304597,   2.        ],
       [ 97.        , 100.        ,  12.16552506,   2.        ],
       [  6.        , 262.        ,  12.20655562,   8.        ],
       [ 21.        , 174.        ,  12.36931688,   3.        ],
       [ 51.        ,  69.        ,  12.36931688,   2.        ],
       [240.        , 269.        ,  12.52996409,   5.        ],
       [144.        , 265.        ,  12.52996409,  14.        ],
       [ 96.        , 268.        ,  12.80624847,   9.        ],
       [249.        , 272.        ,  13.03840481,  19.        ],
       [255.        , 274.        ,  13.03840481,  43.        ],
       [132.        , 244.        ,  13.03840481,   4.        ],
       [122.        , 276.        ,  13.15294644,   5.        ],
       [ 85.        , 258.        ,  13.34166406,   5.        ],
       [ 75.        , 253.        ,  13.45362405,   3.        ],
       [133.        , 211.        ,  13.45362405,   4.        ],
       [175.        , 273.        ,  13.60147051,  11.        ],
       [275.        , 278.        ,  13.89244399,  48.        ],
       [109.        , 242.        ,  13.89244399,   4.        ],
       [246.        , 281.        ,  13.92838828,  14.        ],
       [ 74.        , 251.        ,  13.92838828,   3.        ],
       [105.        , 256.        ,  13.92838828,   4.        ],
       [ 48.        , 285.        ,  14.03566885,   4.        ],
       [261.        , 271.        ,  14.14213562,  14.        ],
       [263.        , 288.        ,  14.14213562,  16.        ],
       [188.        , 283.        ,  14.2126704 ,   6.        ],
       [237.        , 287.        ,  14.31782106,   7.        ],
       [284.        , 289.        ,  14.4222051 ,  30.        ],
       [ 61.        , 270.        ,  14.4222051 ,   3.        ],
       [213.        , 264.        ,  14.76482306,   9.        ],
       [247.        , 292.        ,  14.86606875,  34.        ],
       [280.        , 282.        ,  14.86606875,  52.        ],
       [126.        , 176.        ,  15.        ,   3.        ],
       [ 70.        , 141.        ,  15.29705854,   2.        ],
       [ 52.        , 293.        ,  15.65247584,   4.        ],
       [291.        , 294.        ,  15.8113883 ,  16.        ],
       [279.        , 300.        ,  16.1245155 ,  19.        ],
       [ 49.        , 298.        ,  16.1245155 ,   3.        ],
       [290.        , 296.        ,  16.1245155 ,  58.        ],
       [ 89.        , 301.        ,  16.40121947,  20.        ],
       [190.        , 238.        ,  16.76305461,   5.        ],
       [ 33.        ,  63.        ,  16.97056275,   2.        ],
       [231.        , 302.        ,  17.        ,  12.        ],
       [295.        , 304.        ,  17.02938637,  54.        ],
       [ 42.        , 307.        ,  17.02938637,  13.        ],
       [ 25.        , 308.        ,  17.88854382,  55.        ],
       [266.        , 306.        ,  18.02775638,   4.        ],
       [ 68.        , 303.        ,  18.02775638,  59.        ],
       [311.        , 312.        ,  18.38477631,  63.        ],
       [286.        , 297.        ,  18.43908891,   7.        ],
       [305.        , 310.        ,  19.41648784,  60.        ],
       [299.        , 309.        ,  19.6468827 ,  17.        ],
       [313.        , 316.        ,  20.51828453,  80.        ],
       [152.        , 161.        ,  20.59126028,   2.        ],
       [315.        , 317.        ,  21.9317122 , 140.        ],
       [277.        , 318.        ,  21.9317122 ,   7.        ],
       [260.        , 319.        ,  23.02172887, 142.        ],
       [314.        , 321.        ,  25.29822128, 149.        ],
       [ 31.        , 322.        ,  25.61249695, 150.        ],
       [149.        , 151.        ,  25.96150997,   2.        ],
       [212.        , 323.        ,  26.17250466, 153.        ],
       [267.        , 325.        ,  27.16615541, 155.        ],
       [320.        , 324.        ,  27.80287755,   9.        ],
       [130.        , 326.        ,  28.17800561, 156.        ],
       [146.        , 327.        ,  30.88689042,  10.        ],
       [328.        , 329.        ,  34.6554469 , 166.        ]])

In [21]:
data=pd.DataFrame(d,columns=['one cluster','Another cluster','Distance','no of data points'])

In [22]:
data

     one cluster  Another cluster   Distance  no of data points
0           10.0             36.0   1.414214                2.0
1          136.0            143.0   1.414214                2.0
2          150.0            156.0   2.236068                2.0
3          158.0            160.0   2.236068                2.0
4          159.0            169.0   2.236068                3.0
..           ...              ...        ...                ...
160        267.0            325.0  27.166155              155.0
161        320.0            324.0  27.802878                9.0
162        130.0            326.0  28.178006              156.0
163        146.0            327.0  30.886890               10.0
164        328.0            329.0  34.655447              166.0

[165 rows x 4 columns]

In [23]:
data['Distance'].mean()

11.309982532964012

In [24]:
mymodel=AgglomerativeClustering(n_clusters=None,distance_threshold=11.309982532964012)

In [25]:
cluster=mymodel.fit_predict(X)

In [26]:
cluster

array([118, 160, 100, 141, 140, 155, 156, 130, 150,  92, 104,  95, 146,
       148, 106, 136, 126, 135, 108, 129, 157, 109,  89, 147, 164, 113,
       123, 144, 124, 158, 145,  85, 131, 101, 139, 137, 110,  97, 117,
        86, 127, 166, 134, 154, 112, 142, 120, 111,  83, 163,  93, 153,
        87, 159, 133, 105,  77, 119, 149, 102, 162, 128, 161,  91,  59,
        70,  63, 151, 122,  79, 107, 132,  66,  64,  69, 165, 143,  88,
        72, 138, 125,  90,  78, 115,  99,  44,  94,  73,  55, 114,  43,
        71,  68,  38,  74,  96,  58,  84, 103,  54,  80,  62,  51,  45,
        52,  56,  67, 121,  35, 116, 152,  81,  98,  47,  31,  61,  39,
        65,  75,  48,  27,  30,  53,  60,  57,  36,  46,  29,  76,  82,
        40,  37,  34,  49,  50,  42,  24,  32,  23,  26,  25,  19,  11,
        15,  21,  41,  18,  22,  12,  10,  28,  33,  14,  17,  16,  13,
         7,   5,   8,  20,   3,   9,   6,   4,   1,   2,   0], dtype=int64)

In [27]:
df=pd.read_csv('country.csv')

In [28]:
df['cluster label']=cluster

In [29]:
df

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp,cluster label
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553,118
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090,160
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460,100
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530,141
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200,140
...,...,...,...,...,...,...,...,...,...,...,...
162,Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970,6
163,Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500,4
164,Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310,1
165,Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310,2
166,Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460,0

In [30]:
df.to_csv('countryoutput.csv',index=False)