In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('insurance.csv')

In [3]:
df

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       0  16884.92400
1      18    1  33.770         1       1   1725.55230
2      28    1  33.000         3       1   4449.46200
3      33    1  22.705         0       1  21984.47061
4      32    1  28.880         0       1   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       1  10600.54830
1334   18    0  31.920         0       1   2205.98080
1335   18    0  36.850         0       1   1629.83350
1336   21    0  25.800         0       1   2007.94500
1337   61    0  29.070         0       0  29141.36030

[1338 rows x 6 columns]

In [4]:
#drop charges
X=df.drop(columns=['charges'])

In [5]:
X

      age  sex     bmi  children  smoker
0      19    0  27.900         0       0
1      18    1  33.770         1       1
2      28    1  33.000         3       1
3      33    1  22.705         0       1
4      32    1  28.880         0       1
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       1
1334   18    0  31.920         0       1
1335   18    0  36.850         0       1
1336   21    0  25.800         0       1
1337   61    0  29.070         0       0

[1338 rows x 5 columns]

In [6]:
Y=df['charges']

In [7]:
Y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
mymodel=LinearRegression()

In [12]:
#train model
mymodel.fit(X_train,Y_train)

LinearRegression()

In [13]:
#test model
mymodel.score(X_test,Y_test)

0.7831278995506574

In [14]:
mymodel.coef_

array([   252.95915389,   -181.31519251,    343.48895758,    438.33492199,
       -23692.52885986])

In [15]:
mymodel.intercept_

11403.290423120136

In [16]:
import pickle

In [17]:
pickle.dump(mymodel,open("linear.pkl",'wb'))

In [19]:
temp=pd.DataFrame(data=mydata,columns=X.columns)

In [20]:
temp

   age  sex  bmi  children  smoker
0   20    0   25         1       0
1   18    1   30         2       1

In [21]:
p=mymodel.predict(temp)

In [22]:
p

array([25488.03236257,  3264.04971233])

In [23]:
temp

   age  sex  bmi  children  smoker
0   20    0   25         1       0
1   18    1   30         2       1

In [24]:
temp['Predicted sales']=p

In [25]:
p

array([25488.03236257,  3264.04971233])

In [27]:
temp

   age  sex  bmi  children  smoker  Predicted sales
0   20    0   25         1       0     25488.032363
1   18    1   30         2       1      3264.049712