In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('iris.csv')

In [3]:
df

    sepal_length  sepal_width  petal_length  petal_width          species
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [5]:
df=pd.get_dummies(df)

In [6]:
df

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor
0,5.1,3.5,1.4,0.2,True,False
1,4.9,3.0,1.4,0.2,True,False
2,4.7,3.2,1.3,0.2,True,False
3,4.6,3.1,1.5,0.2,True,False
4,5.0,3.6,1.4,0.2,True,False
...,...,...,...,...,...,...
95,5.7,3.0,4.2,1.2,False,True
96,5.7,2.9,4.2,1.3,False,True
97,6.2,2.9,4.3,1.3,False,True
98,5.1,2.5,3.0,1.1,False,True
99,5.7,2.8,4.1,1.3,False,True

In [8]:
X=df.drop(columns=['species_Iris-setosa','species_Iris-versicolor'])

In [9]:
X

    sepal_length  sepal_width  petal_length  petal_width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
..           ...          ...           ...          ...
95           5.7          3.0           4.2          1.2
96           5.7          2.9           4.2          1.3
97           6.2          2.9           4.3          1.3
98           5.1          2.5           3.0          1.1
99           5.7          2.8           4.1          1.3

[100 rows x 4 columns]

In [12]:
Y=df['species_Iris-setosa']

In [13]:
Y

0      True
1      True
2      True
3      True
4      True
      ...
95    False
96    False
97    False
98    False
99    False
Name: species_Iris-setosa, Length: 100, dtype: bool

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler=StandardScaler()

In [19]:
df=pd.DataFrame(data=scaler.fit_transform(X),columns=X.columns)

In [20]:
df

    sepal_length  sepal_width  petal_length  petal_width
0      -0.581066     0.857135     -1.014360    -1.038248
1      -0.894309    -0.198450     -1.014360    -1.038248
2      -1.207552     0.223784     -1.083741    -1.038248
3      -1.364174     0.012667     -0.944978    -1.038248
4      -0.737687     1.068253     -1.014360    -1.038248
..           ...          ...           ...          ...
95      0.358663    -0.198450      0.928326     0.736535
96      0.358663    -0.409567      0.928326     0.914013
97      1.141771    -0.409567      0.997708     0.914013
98     -0.581066    -1.254036      0.095747     0.559057
99      0.358663    -0.620684      0.858945     0.914013

[100 rows x 4 columns]

In [21]:
#train and test
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [23]:
from sklearn.svm import SVC

In [24]:
mymodel=SVC()

In [25]:
mymodel.fit(X_train,Y_train)

SVC()

In [26]:
Y_pred=mymodel.predict(X_test)

In [27]:
Y_pred

array([ True,  True, False, False, False, False,  True,  True, False,
       False, False, False, False, False,  True, False, False,  True,
        True,  True])

In [28]:
Y_test

48     True
5      True
69    False
67    False
51    False
70    False
7      True
14     True
92    False
85    False
80    False
76    False
63    False
53    False
23     True
54    False
94    False
32     True
31     True
35     True
Name: species_Iris-setosa, dtype: bool

In [29]:
from sklearn.metrics import  classification_report

In [31]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

       False       1.00      1.00      1.00        12
        True       1.00      1.00      1.00         8

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

In [ ]:
#RBF kernel the default kernel does provide accurate values